.component-login {
    display: flex;
    max-width: 450px;
    height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.component-login .logo {
    max-width: 120px;
    height: auto;
}

.component-login form {
    padding: 0 10px;
}

.component-login form .link{
    display: flex;
    justify-content: space-between;
}

.component-login .component-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.component-login .component-link .link {
    width: 40%;
    font-size: 14px;
    margin-top: 10px;
    color: #AAA;
    transition: color 0.5s;
}

.component-login .component-link .link:hover {
    color: #000;
}
