.container-register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-register .form-register {
    width: 50%;
    max-width: 350px;
}